body {
	background-color: #FFD4C9;
}
h1,
h2,
h3,
p,
.home,
nav {
	text-align: center;
}
.main,
nav {
	border-bottom: cyan dotted;
	padding: .5em;
	margin: .5em;
	background-color: #D4C9FF;
}
nav {
	font: 20px Cambria, serif;
}
h1 {
	font: italic bold 64px serif;
	background-color: #C9FFD4;
	border: violet dashed thick
}
h2 {
	font: bold small-caps 30px serif;
	background-color: #C9FFD4;
	border-bottom: violet dashed;
	padding: 1em;
}
li {
	display: inline;
	padding: 1.5em;
}
img {
	border: thick lightsteelblue inset;
	height: 480px;
	}
.main {
	font: 18px/1.5 Calibri, sans-serif;
	display: flex;
	background-color: #D4C9FF;
	align-items: center;
	justify-content: space-around;
}
.home {
	font: bold small-caps 18px Cambria, serif;
	background-color: #C9FFD4;
}
img.centered {
	display: block;
	margin-left: auto;
	margin-right: auto;
}
a {
	color: green;
	text-decoration: none;
}